/* .container{


    margin-top: 150px;
    height: 781vh;
    width: 1305vh;
} */

.first_row{
    background-color: aquamarine;
    height: 30px;
}

.second_row{
    background-color:yellow;
    height: 60px;

}

.four_row
{
    background-color:black;
    height: 180px;

}

.fifth_row
{

    background-color:rgb(90, 84, 84);
    /* height: 20px; */


}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #eaedf0; /* Change color on focus */

    font-size: 14px;
    box-sizing: border-box;
  }
  

  button{
    background-color: rgb(247, 80, 108);
    color: white;
    font-size: 16px;
    cursor: pointer;

  }


  .btn.btn-outline-primary {
    border-radius: 2px; /* Example: custom border radius */
    background-color:rgb(230, 9, 83);/* Example: change background */
    color:white; /* Example: change text color */
    cursor: pointer;
  }




.left{
    display: flex;





}

/* //'emilyspass' 'emilys'*/
  /* Welcome message */
  h3 {
    color: #4caf50; /* Green for welcome message */
    margin-bottom: 15px;
  }

/* form {
    background: #ffffff; /* White background */
    /* padding: 20px 30px; 
    max-width: 400px;  
     text-align: center; /* Center-align form content */
     /* align-items: center;
    margin-top: 90px; 
   */ 


.right{

display: flex;
gap: 20px;
align-items:flex-start;
justify-content: center;
flex-direction: column;


}

.right .last{
  
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    color: rgb(238, 46, 78);
}


.main{
    /* margin-top: 30px; */
    /* height: 20px; */
    margin-top: 30px;
    margin-bottom: 80px;
}