<div class="row main">
  <div class="col-md-8 left">
    <img src="assets/first.png" />
  </div>

  <div class="col-md-4 right">
    <form [formGroup]="forgotpassForm" (ngSubmit)="onSubmit()">
      <h2>Forgot Password</h2>

      <h6>Enter your details below</h6>

      <div>
        <input type="text" formControlName="username" placeholder="Username" />
      </div>
      <div
        *ngIf="
          forgotpassForm.get('username')?.invalid &&
          forgotpassForm.get('username')?.touched
        "
        class="error"
      >
        username is required.
      </div>

      <div>
        <input
          type="password"
          formControlName="password"
          placeholder="New password"
        />
      </div>

      <div
        *ngIf="
          forgotpassForm.get('password')?.invalid &&
          forgotpassForm.get('password')?.touched
        "
        class="error"
      >
        <div *ngIf="forgotpassForm.get('password')?.errors?.['required']">
          Password is required.
        </div>
        <div *ngIf="forgotpassForm.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters.
        </div>
      </div>

      <div>
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="confirm password"
        />
      </div>

      <div
        *ngIf="
          forgotpassForm.get('confirmPassword')?.invalid &&
          forgotpassForm.get('confirmPassword')?.touched
        "
        class="error"
      >
        <div
          *ngIf="forgotpassForm.get('confirmPassword')?.errors?.['required']"
        >
          Password is required.
        </div>
        <div
          *ngIf="forgotpassForm.get('confirmPassword')?.errors?.['minlength']"
        >
          Password must be at least 6 characters.
        </div>
      </div>

      <button type="submit" class="btn btn-outline-primary">
        change password
      </button>
    </form>
  </div>
</div>
