<div class="main-container">
  <div class="first">
    <span>Home</span>
    <span>/</span>
    <span class="color-dif">About</span>
  </div>
  <div class="second">
    <div class="col sec_first">
      <h5>Manage my account</h5>
      <div class="list-none">
      <li><h4>My Profile</h4></li>
      <li>Address Book</li>

      <li>My Payment Option</li>
      </div>
      <h5>My Orderes</h5>
      <div class="list-none">


      <li>My Returns</li>
      <li>My Cancellation</li>


    </div>

      <h5>Wishlists</h5>
    </div>

    <div class="col sec_sec">
      <h3>Edit Your Profile</h3>

      <div class="first-input">
        <div class="first-in">
          <label>First Name</label>

          <input
            clas="Ainputlign"
            type="text"
            placeholder="Enter You First Name"
          />
        </div>
        <div class="first-in">
          <label>Last Name</label>

          <input
            clas="Ainputlign"
            type="text"
            placeholder="Enter You Last Name"
          />
        </div>
      </div>

      <div class="first-input">
        <div class="first-in">
          <label>Email</label>
          <input clas="Ainputlign" type="text" placeholder="Enter You Email" />
        </div>
        <div class="first-in">
          <label>Address</label>

          <input
            clas="Ainputlign"
            type="text"
            placeholder="Enter You Address"
          />
        </div>
      </div>

      <div class="first-input1">
        <label>Password changes</label>
        <input class="last-input" type="text" placeholder="Current Password" />
        <input class="last-input" type="text" placeholder="New Password" />
        <input
          class="last-input"
          type="text"
          placeholder="Confirm New Password"
        />
      </div>

      <div class="last-btn">
        <button class="btn-last1">Cancel</button>
        <button class="btn btn-outline-primary btn-last">Save changes</button>
      </div>
    </div>
  </div>
</div>
